body {
    background-color: #dddddd;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

#wrap {
    width: 70%;
    margin: 0 auto;
    background-color: white;
}

header img {
    width: 100%;
}

header {
    padding: 40px;
    background-color: lightblue;
}

nav {
    background-color: #0b3d91;
    padding: 20px;
    text-align: center;
}

#spring nav,
#spring footer,
#spring header {
    background-color: #B4F9A5;
}

#flower h1 {
    color: #F3A8BC;
}

#flower {
    color: green;
}

#flower h2 {
    color: #F3A8BC;
}

#fall nav,
#fall footer,
#fall header {
    background-color: #D45B12;
    color: white;

}

#leaf {
    color: orange;
}

#leaf h1 {
    color: red;
}

#flake h1 {
    color: blue
}

#flake {
    color: skyblue
}

#winter nav,
#winter footer,
#winter header {
    background-color: #B3DAF1;
}

#summer nav,
#summer footer,
#summer header {
    background-color: #FFD700;
}

#home header {
    background-color: gray;
    color: green
}

#home {
    color: blue
}

#home h2,
home h1 {
    color: green;
}

nav a {
    color: white;
    font-family: Verdana, sans-serif;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 120%;
}

nav a:hover {
    background-color: yellow;
    color: navy;
}

nav li {
    display: inline;
}

nav ul {
    margin: 0;
    padding;
    0;
}

section {
    padding: 1% 4%;
    overflow: auto;
}

section h1,
section h2 {
    color: #0b3d91;
    font-family: Verdana;
    font-size: 180%;
}



section h2 {
    color: #ec3d0f;
}

footer {
    background-color: #0b3d91;
    color: white;
    text-align: center;
    padding: 15px;
}

.tide {
    width: 30%;
    float: right;

}

.fall {
    width: 30%;
    float: right;

}

.summer {
    width: 30%;
    float: right;

}

.spring {
    width: 30%;
    float: right;

}

.winter {
    width: 30%;
    float: right;

}

.button {
    background-color: #0b3d91;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    display: inline-block;
    border-radius: 10px;
}

a.button:hoverv {
    background-color: #ec3d0f;
}
