body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

#wrap {
    margin: 0 auto;
    width: 70%;
    background-color: white;
}


nav,
footer {
    background-color: blue;
    text-align: center;
    padding: 1.6%
}


nav {
    background-color: #0EC8C7;
    text-align: center;

}

nav ul,
footer ul {
    margin: 0%;
    padding: 0%;
}

nav li,
footer li {
    display: inline;
    padding: 1.65;
}

nav a,
footer a {
    color: white;
    text-decoration: none;
    padding: 1.6%;

}

nav a: hover {
    background-color: lightgray;
}

section {
    background-color: red;
    overflow: auto;
}

aside {
    background-color: red;
    width: 24%;
    float: left;

}

aside li {
    list-style-type: none;
    padding: 10px 0;
}

aside a {
    color: white;
}

article {
    background-color: white;
    width: 68%;
    float: right;
    padding: 3%;

}

footer {
    background-color: #0EC8C7;
}

footer a:hover {
    text-decoration: underline;
}

.buy {
    width: 50%;
    height: 25%;
    float: right;
    padding: 0 0 1% 2%;
}

header img {
    width: 100%;
}

@media screen and (max-width: 600px) {
    body {
        background-color: #0EC8C7;
    }


    nav a footer a {
        width: 100%;
        padding: 15px 0;
        display: block;

    }

    nav {
        padding: 0;
    }
}

@embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
